<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>
        locations and coordinates
    </h1>

    <form action="/add" method="post" >

        <input type="text" name="location" id="location" placeholder="location">
        <button>submit</button>

    </form>
    <ul>
        <% for(let obj of info){ %>
            <li>
                <%= obj.location %>  : <%= obj.geometry.coordinates[0] %>, <%= obj.geometry.coordinates[1] %>
            </li>
        <% } %>
    </ul>
    <hr>

    <h1>Distance Matrix</h1>
    <table border="1">

        <% distances.forEach(row=>{ %>
            <tr>
                <% row.forEach(cell=>{ %>
                    <td>
                        <%= cell %>
                    </td>
                <% }) %>
            </tr>
        <% }) %>

    </table>

    <h1>Duration Matrix</h1>
    <table border="1">

        <% durations.forEach(row=>{ %>
            <tr>
                <% row.forEach(cell=>{ %>
                    <td>
                        <%= cell %>
                    </td>
                <% }) %>
            </tr>
        <% }) %>

    </table>

</body>
</html>